/* Imports */


/* Font */


/* Imports */

nav {
    height: 3em;
    background-color: #1a1a1a;
    margin-bottom: 0.5em;
}

@media (max-device-width: 480px) {
    nav {
        text-align: center;
        margin-bottom: 1em;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    nav {
        margin-bottom: 1em;
        text-align: center;
    }
}

nav ul {
    margin-block-start: 0;
    padding-top: 0.3em;
    margin-top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1.5em;
    position: relative;
    margin-right: 1em;
    margin-top: 1em;
}


/* Imports */

header {
    background-color: #511617;
    margin-bottom: -0.1em;
}

header .header-row {
    height: 7em;
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-between;
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    header .header-row {
        justify-content: left;
    }
}

header .header-row .logo-container {
    margin-left: 3%;
    flex: 0 0 40%;
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    header .header-row .logo-container {
        flex: 0 0 50%;
    }
}

@media (min-device-width: 1200px) and (max-device-width: 768px) {
    header .header-row .logo-container {
        margin-left: 2.5%;
    }
}

header .header-row .banner-container {
    flex: 0 0 30%;
    margin-right: 1.3%;
}

@media (max-device-width: 480px) {
    header .header-row .banner-container {
        display: none;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    header .header-row .banner-container {
        display: none;
    }
}

@media (max-device-width: 480px) {
    header .header-row #logo {
        min-width: 100%;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    header .header-row #logo {
        min-width: 100%;
    }
}


/* Colors */


/* Imports */

footer {
    background-color: #1a1a1a;
    height: 10em;
    padding-top: 0.1em;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans TC", sans-serif;
}

footer #footer-middle {
    display: flex;
    position: relative;
    margin-left: 80%;
}

footer #footer-middle img {
    width: 12em;
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
    footer #footer-middle img {
        width: 25%;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    footer #footer-middle img {
        width: 16em;
    }
}

footer #footer-bottom {
    text-align: center;
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    position: relative;
    top: 2.5em;
    font-size: 0.8em;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-size: 4em;
    background-color: #dddddd;
}

article {
    padding: 2em;
    background-color: #f5db9e;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 2em;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-size: 1em;
}

@media (max-device-width: 480px) {
    body {
        font-size: 1.5em;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    body {
        font-size: 1.5em;
    }
}

.main {
    overflow-x: hidden;
    max-width: 95%;
    margin: auto;
}

.main span {
    font-family: "Roboto Condensed", sans-serif;
    text-align: right;
}

#date {
    text-align: right;
    color: #262525;
    margin-bottom: 0.6em;
}

@media (max-device-width: 480px) {
    #date {
        display: none;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    #date {
        display: none;
    }
}

.category-title {
    background-color: #dddddd;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em;
    padding-left: 0.5em;
    color: #262525;
    margin-bottom: 0.5em;
}

@media (max-device-width: 480px) {
    .category-title {
        font-size: 2em;
    }
}

.category-image {
    margin: auto;
    margin-bottom: 1em;
}

@media (max-device-width: 480px) {
    .category-image {
        display: none;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .category-image {
        display: none;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-device-width: 480px) {
    .row {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.row .category-title {
    margin-right: 1%;
}

.main-part {
    flex: 0 0 90%;
}

@media (max-device-width: 480px) {
    .main-part {
        flex: 0 0 100%;
    }
}

.sidebar {
    flex: 0 0 10%;
    height: 100%;
}

@media (max-device-width: 480px) {
    .sidebar {
        display: none;
    }
}

.sidebar img {
    height: 21.5em;
    margin-bottom: 6em;
    width: 100%;
}

@media (max-device-width: 480px) {
    .sidebar img {
        margin-bottom: 0;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .sidebar img {
        margin-bottom: 1em;
    }
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
    .sidebar img {
        height: 23.5em;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    .sidebar img {
        height: 23.8em;
    }
}

@media (min-device-width: 1400px) {
    .sidebar img {
        height: 36em;
    }
}

.sidebar img:nth-of-type(2) {
    height: 32em;
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .sidebar img:nth-of-type(2) {
        height: 26em;
    }
}

@media (min-device-width: 1400px) {
    .sidebar img:nth-of-type(2) {
        height: 46em;
    }
}

.polaroid {
    width: 31%;
    height: 10em;
    position: relative;
    display: flex;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: hidden;
}

@media (max-device-width: 480px) {
    .polaroid {
        height: 14em;
        width: 45%;
        margin: auto;
        margin-bottom: 4%;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .polaroid {
        height: 9em;
    }
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
    .polaroid {
        height: 10em;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    .polaroid {
        height: 10em;
    }
}

@media (min-device-width: 1200px) and (max-device-width: 768px) {
    .polaroid {
        height: 12em;
    }
}

@media (min-device-width: 1400px) {
    .polaroid {
        height: 16em;
    }
}

.polaroid .text-container {
    background-color: #262525;
    font-family: "Roboto Condensed", sans-serif;
    color: #dddddd;
    font-size: 1em;
    height: 3.5em;
    font-weight: bold;
    padding-left: 0.3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 0.2em;
    padding-top: 0.3em;
}

@media (max-device-width: 480px) {
    .polaroid .text-container {
        font-size: 1.1em;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .polaroid .text-container {
        font-size: 0.8em;
    }
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
    .polaroid .text-container {
        font-size: 0.9em;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    .polaroid .text-container {
        font-size: 1.1em;
    }
}

.polaroid img {
    max-width: 100%;
    position: absolute;
    top: -0.5em;
}

.large {
    width: 47.5%;
}

@media (max-device-width: 480px) {
    .large {
        height: 14em;
        width: 45%;
        margin: auto;
        margin-bottom: 4%;
    }
}

@media (min-device-width: 480px) and (max-device-width: 768px) {
    .large {
        height: 13em;
    }
}

@media (min-device-width: 768px) and (max-device-width: 992px) {
    .large {
        height: 15em;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    .large {
        height: 15em;
    }
}

@media (min-device-width: 1200px) and (max-device-width: 768px) {
    .large {
        height: 18em;
    }
}

@media (min-device-width: 1400px) {
    .large {
        height: 21em;
    }
}

.polaroid:nth-of-type(3) {
    margin-right: 1%;
}

.polaroid:nth-of-type(4) {
    display: none;
}

@media (max-device-width: 480px) {
    .polaroid:nth-of-type(4) {
        display: inline-block;
    }
    .polaroid:nth-of-type(4) img {
        width: 100%;
        height: 15em;
    }
}